
body{
    background: rgb(62,60,66);
    background: linear-gradient(74deg, rgba(62,60,66,1) 3%, rgba(100,98,101,0.8253502084427521) 51%); 
    display: flex;
    min-height: 100vh;
    justify-content: center;


}

button{
    background-color: #ffff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: monospace;
    margin: 16px

}

#line1,#line2,#line3,#line4{
    background-color: #030303;
    display: flex;
    flex: 1;
    flex: row;
    justify-content: center;
}

#line0{
    display: flex;
    flex: 1;
    background-color: #030303;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
}
#line0Left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: black;
}

#line0Right{
    display: flex;
    flex: 1;
    margin: 20px;    
    margin-right: 28px;
    gap: 3px;
    background-color: gray;

}

#kasio{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 8px ;
}

#blou{
    font-size: 12px;
}

#kingwiz{
    margin-top: 2px;
    margin-left:7px;
    letter-spacing: 3px;
    color:  #f33939;
    font-family: 'Courier New', Courier, monospace,;
}

.solarpanelLines{
    display: flex;
    flex: 1;
    background-color:#617156;
}



#calcBody{
    background-color: #030303;
    border-radius: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;
    max-height: 800px;
    margin: 100px;
    padding-bottom:16px;

}

#display{
    background-color: #476930;
    display: flex;
    flex: 1;
    margin: 14px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: 60px;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

#displayText{

    color: black;
    margin: 4px;
    font-size: xx-large;

}


