
body{
    background-color: green;
    display: flex;
    min-height: 100vh;
    justify-content: center;


}

button{
    background-color: yellow;
    display: flex;
    flex: 1;
    margin: 24px

}

#line1,#line2,#line3{
    background-color: aqua;
    display: flex;
    flex: 1;
    flex: row;
    justify-content: center;
}

#calcBody{
    background-color: blue;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;
    max-height: 800px;
    margin: 100px;

}

#display{
    background-color: black;
    display: flex;
    flex: 1;
    margin: 28px;
}